.head-line {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.head-line svg {
    width: 430px;
}

.memus{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top : 1px solid #ebebeb;
    border-bottom: 4px double #000;
}

.memus button{
    border: none;
    background: none;
    margin: 5px;
}

.memus button:hover{
    background-color: beige;
}

.news-image-size{
    max-width: 100%;
    max-height: 250px;
    margin-bottom: 10%;
}

.news {
    border-bottom: 3px solid black;
    
}